/*Definición de colores de la pagina*/
:root{
    --c-white:      #ffffff;
    --c-blue-dark:  #0B0D17;
    --c-celeste:    #D0D6F9;

}
body{
    font-family: 'Bellefair', serif;
    font-size: 10px;
}
.fondo-destination{
    width: 100%;
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin-top: 7.6em;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}

main .subtitulo{
    font-size: 2.8em;
    color: var(--c-white);
    letter-spacing: 0.17em;
    margin-left: 5.9em;
}
.subtitulo > span{
    opacity: 0.25;
    margin-right: 1em;
}

.seccion-contenido{
    margin-top: 6.4em;
    padding: 0 16.3em 11.2em 23em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contenido-imagen{
    
}
.contenido-imagen__img{
    
}

.contenido-principal{
    width: 44.5em;
    height: 47.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.subnav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    width: 28.5em;
}
.subnav-li{
    height: 3.4em;
    cursor: pointer;
    margin-bottom: 3.7em;
}
.subnav-li.activo{
    border-bottom: 0.3em solid var(--c-white);
}
.subnav-li:hover{
    border-bottom: 0.3em solid #ffffff5d;
}
.subnav-li > a{
    font-size: 1.6em;
    letter-spacing: 0.17em ;
    color: var(--c-white);
    text-decoration: none;
}
.titulo{
    font-family: 'Bellefair', serif;
    font-size: 10em;
    color: var(--c-white);
    height: 1.15em;
    margin-bottom: 0.14em;
}
.parrafo{
    font-size: 1.8em;
    font-family: 'Barlow', sans-serif;
    line-height: 1.7em;
    color: var(--c-white);
}
.contenido-datos{
    margin-top: 5.4em;
    border-top: 1px solid #ffffff67;
    width: 100%;
    display: flex;
}
.dato-1{
    margin-right: 7.9em;
}
.dato__p{
    color: var(--c-white);
    font-size: 1.4em; 
    letter-spacing: 0.16em;
    line-height:2em;
}
.dato__p strong{
    font-family: 'Bellefair', serif;
    font-size: 2em ;
    color: var(--c-white);
}

