:root{
    --c-white:      #ffffff;
    --c-blue-dark:  #0B0D17;
    --c-celeste:    #D0D6F9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bellefair', serif;
    font-size: 10px;
}
.header{
    width: 100%;
    padding: 4em 0 0 5.5em;
}
.header .nav{
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    min-width: 4.8em;
    height: 4.8em;
    border-radius: 50%;
    background-color: var(--c-white);
    display: grid;
    place-items: center;
}
.nav-logo__img{
    width: 100%;
}
.nav-ul::before{
    content: "";
    display: inline-block;
    height: 1px;
    width: 50%;
    position: absolute;
    background-color: #ffffff;
    left:-45%;
    opacity: 23%;
}
.nav-ul{
    width: 83em;
    list-style: none;
    padding: 0 16.5em 0 12.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.04);
}
.nav-ul__li{
    height: 100%;
    padding: 3.9em 0;
}
.nav-ul__li.activo{
    border-bottom: 0.3em solid var(--c-white);
}
.nav-ul__li:hover{
    border-bottom: 0.3em solid #ffffff5d;
}
.nav-li__a{
    text-decoration: none;
    font-size: 1.6em;
    letter-spacing: 0.16em;
    color: var(--c-white);
}

.btn-mobile{
    width: 4.8em;
    height: 5.4em;
    display: flex;
    padding: 3.3em 2.4em 0 0;
    display: none;
    margin-top: -2em;
}
.btn-abrir-menu{
    width: 100%;
    cursor: pointer;
}
.btn-cerrar-menu{
    display: none;
    cursor: pointer;
}


/*------------------------MEDIA QUERY---------------------------------*/
@media only screen and (max-width: 1310px){
    .nav-ul::before{
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .header{
        padding: 0 0 0 3.9em;
        transition: all 0.2s;
    }
    .nav-ul::before{
        display: none;
    }
    .nav-ul{
        width: 46em;
        padding: 0 4.8em 0 4.8em;
        
    }
    .nav-li__a{
        font-size: 1.4em;
    }
    .nav-li__a > b{
        display: none;
    }
}
@media only screen and (max-width: 530px) {
    .nav-ul{
        width: 70%;
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 0;
        padding-left:3.2em;
        justify-content: start;
        align-items: flex-start;
        padding-top: 11.8em;
        transition: all 0.5s;
        z-index: 20;
    }
    .nav-ul__li{
        padding: 0;
        margin-bottom: 3.2em;
        height: auto;
    }
    .nav-li__a > b{
        display: inline-block;
    }
    .nav-logo{
        margin-top: 2.4em;
    }
    .btn-mobile{
        display: block;
    }
    .btn-cerrar-menu{
        display: block;
        position: absolute;
        top: 3.4em;
        right: 2.7em;
        width: 2em;
    }
}
