/*Definición de colores de la pagina*/
:root{
    --c-white:      #ffffff;
    --c-blue-dark:  #0B0D17;
    --c-celeste:    #D0D6F9;

}
body{
    font-family: 'Bellefair', serif;
    font-size: 10px;
}


.fondo-technology{
    width: 100%;
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main{
    width: 100%;
    margin-top: 7.6em;
    padding-left: 13.3em;
    color: var(--c-white);
}
.seccion-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-principal{
    
}
.contenido-subtitulo-1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.8em;
    color: var(--c-white);
    letter-spacing: 0.17em;
    margin-bottom: 5.5em;
}
.contenido-subtitulo-1 >span{
    opacity: 0.25;
    margin-right: 1em;
}
.contenido-texto{
    display: flex;
}
.texto-primario{
    width: 47em;
}
.contenido-subtitulo-2{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0.69em;
    font-size: 1.6em;
    color: #D0D6F9;
    letter-spacing: 0.17em;
}
.contenido-titulo{
    font-family: 'Bellefair', serif;
    font-size: 5.6em;
    margin-bottom: 0.3em;
}
.contenido-parrafo{
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
    line-height: 1.7em;
    margin-bottom: 214px;
}
.subnav{
    margin-right: 8em;
}
.subnav__li{
    list-style: none;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #ffffff67;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2em;
}
.subnav__li.activo{
    background-color: var(--c-white);
}
.subnav__li:hover{
    background-color: var(--c-white);
    cursor: pointer;
}
.subnav__li > a{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    font-size: 3.2em;
    text-decoration: none;
    color: var(--c-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subnav__li.activo > a{
    color: black;
}
.subnav__li > a:hover{
    color: black;
}

.imagen{
    width: 51em;
    padding-right: 0.2em;
}
.imagen > img{
    width: 100%;
}